# Application Configuration
APP_NAME="Explainable AI Loan Approval System"
ENVIRONMENT="development" # development | production
DEBUG=false
LOG_LEVEL="INFO"

# Server Host & Port
HOST="0.0.0.0"
PORT=8000
RELOAD=true

# Database & Security
DATABASE_URL="sqlite:///./loan_approval.db"
JWT_SECRET="supersecretkeychangeinproduction1234567890"
JWT_ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=60
